<mat-card color="accent" matRipple class="custom-card">
  <div class="flexbox-container-row">
    <div class="flexbox-container-col">
      <mat-card-title class="custom-card-title">
        {{ title }}
      </mat-card-title>
      <mat-card-subtitle class="custom-card-subtitle">
        {{ subtitle }}
      </mat-card-subtitle>
    </div>
    <div class="counter">
      {{ counter }}
    </div>
  </div>
  <mat-icon class="mat-card-image material-icons-outlined">file_copy</mat-icon>
</mat-card>