<ng-container *ngIf="visible">
    <div class="card-information shadow">
        <div class="header">
            <span class="title">{{ title }}</span>
            <mat-icon (click)="closeCardInformation()" class="close-icon">close</mat-icon>
        </div>

        <div class="content">
            <p class="margin-b-1">
                Please detach component and add the content that you need. The icon from the bottom should be the same
                with
                the
                icon from cluster card that is active
            </p>
            <p class="margin-b-2">
                Please detach component and add the content that you need. The icon from the bottom should be the same
                with
                the
                icon from cluster card that is active
            </p>
            <p>
                Please detach component and add the content that you need. The icon from the bottom should be the same
                with
                the
                icon from cluster card that is active
                Please detach component and add the content that you need. The icon from the bottom should be the same
                with
                the
                icon from cluster card that is active
                Please detach component and add the content that you need.
            </p>
        </div>
        <mat-icon class="mat-card-image material-icons-outlined">file_copy</mat-icon>
    </div>
</ng-container>