<ng-container *ngIf="cardData$ | async as cardData">
    <p>Status mat-card: <b>{{ cardData.status }}</b></p>

    <div class="card-container">
        <app-card appCardActive 
            [active]="cardData.active"
            [disabled]="cardData.disabled" 
            [title]="cardData.title"
            [subtitle]="cardData.subtitle"
            [counter]="cardData.counter"
            (activeChange)="updateActive($event)">
        </app-card>
        <app-card-information 
            [visible]="cardData.active"
            [title]="cardData.containerTitle"
            (close)="updateActive($event)">
        </app-card-information>
    </div>
</ng-container>